<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats/new</title>
</head>
<body>
    <h1>White new chat</h1>
    <form method="post" action="/chats">
    <label for="from">from</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <label for="mms">send mms</label>
    <textarea rows="5" name="mms" id="mms" placeholder="send mms"></textarea>
    <button>submit</button>
</form>

    
</body>
</html>